// Tone buttons
.red
    +border($right: $btn-border-inner, $bottom: $btn-border-inner)
    +radial-grad-bckgrnd(circle, $red 0, $red 50%, #f57d76 0, #f57d76)

.blue
    +border($left: $btn-border-inner, $bottom: $btn-border-inner)
    +radial-grad-bckgrnd(circle, $blue 0, $blue 50%, #58a4e6 0, #58a4e6)

.green
    +border($top: $btn-border-inner, $right: $btn-border-inner)
    +radial-grad-bckgrnd(circle, $green 0, $green 50%, #6acc75 0, #6acc75)

.yellow
    +border($left: $btn-border-inner, $top: $btn-border-inner)
    +radial-grad-bckgrnd(circle, $yellow 0, $yellow 50%, #fbe977 0, #fbe977)

.red, .blue, .green, .yellow
    //z-index: -1
    background-size: 0.25rem 0.25rem
    +size(18.75rem)
    cursor: pointer

.activated-red
    background: $red

.activated-blue
    background: $blue

.activated-green
    background: $green

.activated-yellow
    background: $yellow
