.container, .controls-wrapper-outer, .controls-wrapper-inner, .digital-display,
.flip-switch-container, .controls-wrapper-btns, .start-btn-wrapper,
.strict-btn-wrapper
    +flexbox

.container
    +flex-flow($flex-wrap: wrap)
    +size(39.75rem)
    border-radius: 50%
    +border-all(1.125rem solid black)
    box-shadow: $container-shadow
    //+box-shadow()
    overflow: hidden
    position: relative

.controls-wrapper-outer
    +flex-flow(column nowrap)
    justify-content: center
    +size(18.75rem)
    border: 10px solid black
    position: absolute
    left: 9.375rem
    top: 9.375rem
    z-index: 1
    border-radius: 50%
    overflow: hidden
    background-color: $silver
    box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.7)
    h1
        text-align: center

.controls-wrapper-inner
    +flex-flow()
    justify-content: space-between
    padding: 0.313rem 3.125rem

.lcd-wrapper
    +flex-flow($flex-dir: column)
    & > h4
        text-align: center
        margin: 0.313rem auto

.flip-switch-container
    justify-content: center

.controls-wrapper-btns
    +flex-flow

.start-btn-wrapper, .strict-btn-wrapper
    +flex-flow($flex-dir: column)
