doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Simon Game
        link(rel="stylesheet" href="assets/css/main.min.css")
    body
        .container
            .red.brdr-right.brdr-bottom
            .blue
            .green
            .yellow
            .controls-wrapper-outer
                h1 Simon
                .controls-wrapper-inner
                    .digital-display
                        .digital-display-screen
                        h4 Count
                    .start-button
                        h4 START
                    .strict-button
                        h4 STRICT
                .flip-switch-container
                    label.switch
                        input(type="checkbox")
                        .slider
