doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Simon Game
        link(rel="stylesheet" href="assets/css/main.min.css")
    body
        .container
            .red.color-btn
            .blue.color-btn
            .green.color-btn
            .yellow.color-btn
            .controls-wrapper-outer
                h1 Simon
                .controls-wrapper-inner
                    .lcd-wrapper
                        .lcd.lcd-off
                            p#round
                        h4 Count
                    .controls-wrapper-btns
                        .start-btn-wrapper
                            button.btn-circle#start
                            label#start-label(for="start"): h4 START
                        .strict-btn-wrapper
                            button.btn-circle#strict
                            label#strict-label(for="strict"): h4  STRICT
                .flip-switch-container
                    label.switch
                        input(type="checkbox")
                        .slider
    script(src="assets/js/main.min.js")
